{% extends "layout.html" %}

{%block title %} CS50 Chat {% endblock %}

{% block main %}

<div class="navigation-menu">
    
  <form id="formUsername" class="hide-if-username">
      <input id="setUsername" type="text" placeholder="Select a nickname" autofocus autocomplete="off" maxlength="30">
      
      <input id="submitUsername" type="submit" disabled>
  </form>

  <form id="formNewChannel" class="show-if-username">
      <input id="setChannel" name="newChannel" type="text" placeholder="Create a new Channel" autofocus autocomplete="off" maxlength="40">
      <input id="submitNewChannel" type="submit" disabled>
  </form>

</div>
<div class="main-content">
  
  <div id="channels" class="show-if-username"></div>

</div>


<script src="{{ url_for('static', filename='js/mainpage.js') }}"></script>

{% endblock %}